@page
@model SE_Project.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/assets/img/login.png" alt="Login Image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card border-0">
                        <div class="card-body">
                            <h2 class="text-center mb-4">Login</h2>
                            <form method="post" asp-page-handler="Login" id="loginForm">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                        <input type="text" class="form-control" placeholder="Username" name="username" required maxlength="20">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                        <input type="password" class="form-control" placeholder="Password" name="password" required maxlength="10">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" name="userType" id="type">
                                        <option value="">Select user type</option>
                                        <option value="student">Student</option>
                                        <option value="supervisor">Supervisor</option>
                                    </select>
                                </div>
                                <div class="d-grid mb-3">
                                    <button type="submit" class="btn btn-success btn-block" id="loginButton">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("loginForm").addEventListener("submit", function (event) {
        event.preventDefault();
        console.log("Login button clicked!");

        // Get the username value from the form
        var username = document.querySelector('input[name="username"]').value;
        var type = document.getElementById("type").value;

        // Set the username in local storage
        localStorage.setItem("username", username);
        localStorage.setItem("type", type);
        // Submit the form
        event.target.submit();
    });
</script>
